.Title {
  font-size: 18px;
  font-weight: 800;
  color: white;
}
.PurpleText {
  color: #465efc;
  font-size: 16px;
}
.SimpleP {
  color: white;
  font-size: 16px;
}
.MessageText {
  font-size: 14px;
  color: white;
}
.UserMessageName {
  font-size: 14px;
  color: #c4c4c4;
}
