.Message {
  background: rgba(57, 62, 70, 0.7);
  border-radius: 5px;
  display: grid;
  grid-gap: 10px;
  margin: 10px 35px 10px 10px;
  padding: 10px;
}
.Message div p {
  margin: 0;
  font-size: 14px;
}
.Message-Username p {
  color: #c4c4c4;
}
.Message-Content {
  color: white;
}
.MyMessage {
  background: rgba(70, 94, 252, 0.7);
  border-radius: 5px;
  display: grid;
  grid-gap: 10px;
  margin: 10px 10px 10px 35px;
  padding: 10px;
}
.MyMessage div p {
  margin: 0;
  font-size: 14px;
}
.MyMessage-Username p {
}
