.Modal {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s;
}
.Modal-Content {
  display: grid;
  grid-gap: 20px;
  background-color: #222831;
  padding: 10px 10px 50px 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
}
.Modal-Content h1 {
  color: white;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}
.Modal-Content-Close {
  display: flex;
  justify-content: flex-end;
}
.Modal-Content-Close a {
  color: white;
  text-decoration: none;
}
#Modal:target {
  opacity: 1;
  pointer-events: auto;
}
